$primary-color: #14B5EB;
$secondary-color: #0b101d;
$tertiary-color: #242c40;
$positive-color: #20c45c;
$caution-color: #fac750;
$alarm-color: #dc2846;
$alarm-light-color: #f04f6a;
$white-color: #ffffff;

$graph1: #222222;
$graph2: #00a1af;
$graph3: #b3c2e4;
$graph4: #ff6611;
$graph5: #0033aa;
$graph6: #cccccc;
$graph7: #00aadd;
$graph8: #00c18b;
$graph9: #675dc6;
$graph10: #b34fc5;
$graph11: #ffb822;